<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | StoreApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "shared/frontend_notifier" %>
	<header>
		<% if current_user %>
			Вы залогинены как <b><%= current_user.login %></b>.
		<% else %>
			Попробуйте <%= link_to "войти", "/sign_in" %> или
			<%= link_to "зарегистрироваться", "/sign_up" %>.
		<% end %>
	</header>

	<p class="successMessage"><%= flash[:success] %></p>
	<p class="errorMessage"> <%= flash[:error] %></p>

	<%= yield %>

</body>
</html>
