<!-- <h1>Все товары</h1>

<ul>
<% @items.each do |i| %>
	<li><%= link_to i.title, i %></li>
<% end %>
</ul>

<%= will_paginate @items %> -->

<h1>Все товары</h1>

<p> Сортировка:
	<%= link_to "Новые сверху", items_path(order: "desc") %> |
	<%= link_to "Старые сверху", items_path(order: "asc") %>
</p>

<%= render partial: "items/items_list", locals: { items: @items } %>

<%= will_paginate @items %>